.yt-container-fullscreen{
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
}
.yt-fullscreen{
    width: 100% !important;
    height: 100% !important;
}
.yt-blocker{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
}

.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scrub-trans{
    transition: left 0.3s linear;
    -webkit-transition: left 0.3s linear;
}
.prog-trans{
    transition: width 0.3s linear;
    -webkit-transition: width 0.3s linear;
}